<!DOCTYPE html>
<html>
<meta charset="UTF-8">
    <title>Testing Signup</title>
    
    <body>
    <h1>Welcome! SignUp</h1>
        <form action= "/signup" name = "signup" method ="post">
        <table>
            <tr> 
                <td>id</td>
                <td><input type = "text" name ="id"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type = "password" name = "pw"></td>
            </tr>
            <tr>
                    <td>password check</td>
                    <td><input type = "password" name ="pw2"></td>
            </tr>
            <tr>
                    <td>mail</td>
                    <td><input type = "text" name ="mail"></td>
            </tr>
            <tr>
                    <td>tel</td>
                    <td><input type = "text" name ="tel"></td>
            </tr>
            <tr>
                    <td>nickname</td>
                    <td><input type = "text" name ="nick"></td>
            </tr>

    </table>
        </form>
    </body>
    
    
</html>
